@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400&family=Roboto:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

::selection{
  color: #fff;
  background: #278b59;
}

body{
  opacity: 0;
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #278b59;
  transition: all 0.4s 0.04s ease;
}

body .wrapper{
  transition: 0.35s ease;
  transform: translateY(30px);
}

body.active{
  opacity: 1;
}

body.active .wrapper{
  transform: translateY(0px);
}

body::-webkit-scrollbar{
  display: none;
}

.wrapper{
  width: 400px;
  height: 175px;
  background: #fff;
  border-radius: 7px;
  padding: 30px;
  transition: height 0.35s ease;
  box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
}

header h1{
  font-size: 21px;
  font-weight: 500;
}  

header p{
  margin-top: 5px;
  color: #575757;
  font-size: 16px;
}

.details .buttons{
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}

.buttons button{
  height: 55px;
  outline: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  color: #fff;
  border: 2px solid #278b59;
  transition: all 0.4s ease;
  border-radius: 5px;
  background: #278b59;
  width: calc(100% / 2 - 6px);
}  

.buttons button:hover{
  color: #278b59;
  background-color: #fff;
}

button:active{
  transform: scale(0.95);
}

.copyright{
  display: flex;
  position: absolute;
  bottom: 20px;
  padding: 3px 6px 3px;
  border-radius: 6px;
  background: #fff;
}

.copyright p{
  font-family: 'Akshar';
  font-size: 16px;
  font-weight: 400;
  cursor: default;
  color: #000;
}
